@model ManagementSystem.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
    Layout = "../Shared/_AccountLayout.cshtml";
}
<div class="login-box-body">
    <p class="login-box-msg">@ViewBag.Title</p>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group has-feedback">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group has-feedback">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group has-feedback">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-primary btn-block btn-flat" value="Сброс" />
            </div>
        </div> 
    }  
</div>